<div class="ck_subscription_form ck_horizontal_subscription_form">
  <div class="title">
    <h3>Let’s Talk About Your MVP</h3>
    <p >I love talking with founders about their startup plans. If you have questions,
    and want an honest, no-strings-attached chat with a developer who understands
    business, I have some time coming up next week. Fill out the form below, and
    we can pencil in a time to talk to see if there’s a fit.</p>
  </div>

  <div class="ck_subscription_form_content">
    <br clear="all">
    <p id="ck_success_msg" style="display: none; opacity: 0;">Thanks! Now check your email.</p>
    <form id="ck_subscribe_form" class="ck_subscribeForm span4" action="https://convertkit.com/app/landing_pages/124/subscribeFromId" style="">
      <input type="hidden" name="id" value="425" id="landing_page_id"/>
      <p class="ck_errorArea"></p>
      <div class="ck_control_group">
        <label class="ck_label" for="ck_firstNameField">First Name</label>
        <input type="text" name="first_name" class="ck_first_name"
        id="ck_firstNameField" style="width: 100%"></input>
      </div>  
      <div class="control_group fields">
        <label class="ck_label" for="ck_emailField">Email Address</label>
        <input type="text" name="email" class="ck_email_address"
        id="ck_emailField" style="width: 100%"></input>
      </div>
      <label class="ck_checkbox">
        <input class="optIn ck_course_opted" type="checkbox" id="optIn"
        checked=""/>
        I'd like to receive a free 7 day course on Avoiding Common Entreprenuer Pitfalls
      </label>
      <button class="subscribe_button ck_subscribe_button button color6">
        Book Your Confidential Consultation With Jesse!</button>
      <p><span class="ck_guarantee">We won't send you spam. Unsubscribe at any time.</span></p>
    </form>
  </div>
</div>
